// files starting with _ are partial files meant to be imported in other scss files. they are not converted to css
@import './variables';
@import './header';
@import './rentalCard';
@import './rentalDetails';

.apartment{
    color: #832383
  }

.condo {
    color: #d4b83c
}

.house {
    color: #863758
}