// files starting with _ are partial files meant to be imported in other scss files. they are not converted to css
@import './variables';
@import './header';
@import './rentalCard';

.apartment{
    color: #0c520f
  }

.condo {
    color: #697ec5
}

.house {
    color: #8a244f
}